/*------------------------------*/
/*basic set up*/
/*------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    background-color:#fff;
    color:#555;
    font-family:'lato','Arial','sans-serif';
    font-weight:300;
    font-size:20px;
    text-rendering: optimizeLegibility
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear:both;
    display: block;
    height: 0;
    visibility: hidden;
}



/*------------------------------*/
/*reusable components*/
/*------------------------------*/

.row{
    max-width:1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0
}

.box{
    padding: 1%
}



/* Header */

header{
    padding: 0;
    
    
}

header div{
    padding-top: 12px;
    
}

header div:first-child{
    margin-top: 20px;
    display: inline-block;
    margin-left: 5%;
    font-size: 250%
   
    
}

i{
    color: #e67e22
}

.flame{
    -webkit-text-stroke: 1px black
}

span{
    color: #555;
    font-weight: 700;
    font-family:'lato','Arial','sans-serif';
    
}

.call-us{
    
    float: right;
    margin-right: 15%;
    
}

.call-us i {

}

.navbar {
    position: relative;
    width: 100%;
    background-color: #555;
    overflow: auto;
    background-color: #060606f1;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%; /* Four links of equal widths */
    text-align: center;
    font-weight: 400
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .navbar a.active {
    background-color: #e67e22;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }



  
  


header{
    border-bottom: 2px solid #e67e22;
    
    
}

/* main section */
.residential-fuels{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://static.politico.com/dims4/default/c2b2e6e/2147483647/resize/1160x%3E/quality/90/?url=https%3A%2F%2Fstatic.politico.com%2Fcapny%2Fsites%2Fdefault%2Ffiles%2Fa-home%20heating%20tank_0.png');
    border-bottom: 2px solid #e67e22;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f1f1f1;
    font-weight: 600;
    word-spacing: 2px;
}

.dual-p{
    position: relative;
}

#second{
    margin-top: 20px;
}


/* our clients */
h2{
    text-align: left;
    color: #e67e22;
    margin-bottom: 50px;
}

.title{
    padding: 0
}



/* service section */
.service-section{
    background-color: black;
    
}
.service-section p {
    font-weight: 700;
    color: #fff;
  
}
.service-section h2 {
    margin-bottom: 10px;
    color: #fff;
  
}

.areas h2{
    color: #e67e22
}

.btn-full{
    background-color: #fff;
    text-decoration-line: none;
    color: #e67e22;
    
    
    
}

.btn{
  display: inline-block;
  padding:10px 30px;
  font-weight: 800;
  text-decoration: none;
  border-radius:200px;
  border: 1px solid rgb(245, 244, 244);
      margin-left: -15px;
      margin-top: 10px;
}


footer{
  background-color: rgb(245, 244, 244); 
  text-align: center;
}

#company-name{
  color: #e67e22;
  -webkit-text-stroke: .01px black;
  
}


footer p:first-child{
font-size: 200%;
font-weight: 900;
color: #e67e22
}

.social-media{
  font-size:250%;
  float: right;
}


